.collection {
  background-image: url(https://picsum.photos/500/500);
  padding-top: calc(4.5 / 4 * 100%);
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .collection {
    padding-top: calc(2 / 3.5 * 100%);
  }
}

.inner {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.inner h4 {
  max-width: 200px;
}

.list {
  list-style: none;
}

#footer {
  border-top: 1px solid lightgrey;
}